#root {
	font-family: sans-serif;
}

.app {
	margin-top: 25px;
}

.calculator {
	margin-bottom: 25px;
	position: relative;
	display: block;
}

.calculator__expression {
	position: absolute;
	text-align: right;
	font-size: 14px;
	max-width: 100%;
	top: -25px;
	left: 0;
}

.calculator__result {
	margin-bottom: 25px;
}

.calculator__result > .form-control {
	text-align: right;
	font-size: 2rem;
	height: 50px;
}

.calculator__content {
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	display: flex;
	border-collapse: collapse;
}

.calculator__btn {
	background-clip: content-box;
	line-height: 90px;
	border-radius: 0;
	font-size: 3rem;
	padding: 2px;
	width: 25%;
}

.calculator__btn--clear {
	width: 75%;
}